*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ECF0F1;
    overflow-x: hidden;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
}

a{
    color:  #008ABB;
}

html,
body{
    height: 100%;
    min-height: 100%;
}

.main-header{
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #008ABB;
    left:0;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 0 rgba(0,0,0,.09);
}

.menu-trigger{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

.menu-trigger:hover{
    color: #FFF;
    text-decoration: none;
}

.main-menu{
    display: none;
    background-color: #008ABB;
    position: absolute;
    width: 100%;
    max-width: 380px;
    top: 40px;
    left:0;
}

.main-menu li{
    width: 100%;
    list-style: none;
    border-bottom: rgba(255,255,255,.1) 1px solid;
}

.main-menu li a{
    width: 100%;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
    padding:10px;
    text-align: center;
}

.main-header-logo{
    display: none;
}

.page-header{
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #03273F;
    background-image: url(../img/effect.svg);
    background-position: left bottom;
    background-repeat: repeat-x;
    text-align: center;
    box-shadow: 4px 0 0 rgba(0,0,0,.05);
    padding: 10px 5% 120px 5%;
}

.page-header h1{
    margin: 0;
    padding: 200px 0 0 0;
    color: #FFF;
    font-weight: 900;
    background-image: url(../img/devopsdays-brasilia.svg);
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 170px auto;
}

.page-header p{
    color: #FFF;
    font-weight: 600;
    padding-top: 20px;
    margin-top: 20px;
    position: relative;
}

.page-header p::before{
    width: 140px;
    height: 8px;
    background-color: #FFF;
    content: "";
    position: absolute;
    top: -10px;
    left:50%;
    margin-left: -70px;
}

@media (min-width:680px){

    .wrapper{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }

    .main-container{
        width: calc(100% - 220px);
    }

    .sponsors{
        width: 220px;
        overflow: hidden;
        background-color: #FFF;
        box-shadow: -4px 0 0 rgba(0,0,0,.05);
    }
}


@media (min-width:740px){

    body{
        padding-top: 60px;
    }

    .main-header{
        height: 60px;
    }

    .menu-trigger{
        display: none;
    }

    .main-menu{
        display: block;
        background:none;
        position: static;
        width: 100%;
        max-width: 100%;
        top:0;
        left:0;
    }

    .main-menu ul{
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .main-menu li{
        width: auto;
        border: none;
        padding-top: 15px;
    }

    .main-menu li a{
        font-size: 11px;
        padding: 5px;

    }

}

@media (min-width:980px){

    body{
        padding-top: 0;
        padding-left: 280px;
    }

    .main-header{
        width: 280px;
        height: 100%;
        background-color: #03273F;
        background-image: url(../img/effect.svg);
        background-position: left bottom;
        background-repeat: repeat-x;
        text-align: center;
        box-shadow: 4px 0 0 rgba(0,0,0,.05);
    }

    .main-header-logo{
        display: block;
        width: 100%;
        height: 180px;
        background-image: url(../img/devopsdays-brasilia.svg);
        background-repeat: no-repeat;
        background-position: center 20px;
        background-size: 180px;
        overflow: hidden;
        text-indent: -999px;
    }

    .main-menu ul{
        width: 100%;
        padding: 20px 0 0 0;
        display: block;
    }

    .main-menu ul li{
        padding: 2px 0;
    }

    .page-header{
        background-color: #008ABB;
        background-image: none;
        padding: 40px 5%;
    }

    .page-header h1{
        padding: 0;
        background: none;
        font-size: 40px;
    }

    .page-header p{
        font-size: 20px;
    }
}

.footer{
    width: 100%;
    text-align: center;
    border-top: #CCC 1px solid;
    padding: 40px 5%;
}

.footer ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 20px;
}

.footer ul li{
    list-style: none;
}

.footer p{
    font-size: 12px;
}


.page-body{
    padding: 20px;
}

.page-body h1{
    color: #022640;
    font-weight: 900;
    font-size: 30px;
}

.page-body h2{
    color: #008ABB;
    font-weight: 400;
    font-size: 25px;
}

.page-body h3{
    color: #022640;
    font-size: 18px;
    font-weight: 700;
}

.page-body h4{
    font-size: 14px;
    margin: 3px 0;
}

.page-body p{
    line-height: 25px;
    margin-bottom: 20px;
}

.page-body ol,
.page-body ul{
    padding: 0 0 0 30px;
}

.page-body .row{
    margin: 0 -10px !important;
}

.page-body table{
    background-color: #FFF;
    border: none !important;
}

.page-body table td{
    padding: 5px;
}

.page-body table tr:first-child th,
.page-body table tr:first-child td{
    color: #008ABB;
    padding: 10px;
    border-bottom: #008ABB 2px solid;
}

.page-body table tr:first-child th *,
.page-body table tr:first-child td *{
    margin: 0 !important;
    padding: 0 !important;
    color:  #008ABB;
    font-size: 14px;
    text-transform: uppercase;
}

.page-body table th.type{
    padding: 10px;
    border:none;
    font-weight: 400;
    background-color: #8C4600;
    color: #FFF;
}

.page-body table th.silver{
    background-color: #BBB;
}

.page-body table th.gold{
    background-color: #DAA400;
}

.page-body table th.platinum{
    background-color: #DDD;
    color: #333;
}

.page-body .meta{
    background-color: #FFF;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.2);
    font-size: 11px;
    line-height: 15px;
}

.main-container .btn{
    background-color: #008ABB;
    border-radius: 3px;
    text-transform: uppercase;
    color: #FFF;
    padding: 10px 20px;
    box-shadow: 2px 2px 0 rgba(0,0,0,.2);
    display: inline-block;
}
.main-container span.btn{
    margin-bottom: 2px;
}
.main-container .btn a{
    color: #FFF;
}

.main-container iframe{
    width: 100%;
}

.sponsors{
    background-color: #FFF;
    padding: 20px 10px;
    text-align: center;
}

.sponsors-head{
    margin-top: 40px;
}

.sponsors-head.no-margin{
    margin: 0;
}

.sponsors .type{
    padding-top:10px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: #EAEAEA 1px solid;
}

.sponsors .type img{
    width: 100%;
    max-width: 240px;
    margin: 0;
    height: auto;
}

.sponsors .type strong{
    font-weight: 400;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    border-left: #000 40px solid;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin-bottom: 15px;
}

.sponsors .type-platinum img{
    width: 100%;
    height: auto;
}
.sponsors .type-platinum strong{
    border-color: #DDD;
}

.sponsors .type-gold img{
    width: 80%;
    height: auto;
}
.sponsors .type-gold strong{
    border-color: #DAA400;
}

.sponsors .type-silver img{
    width: 45%;
    margin: 0 2%;
    height: auto;
}
.sponsors .type-silver strong{
    border-color: #BBB;
}

.sponsors .type-bronze img{
    width: 30%;
    margin: 0 1%;
    height: auto;
}
.sponsors .type-bronze strong{
    border-color: #8C4600;
}

.sponsors h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    color: #002541;
}

.med-logos,
.min-logos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.min-logos img{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.med-logos img{
    width: 90px;
    height: 90px;
    margin: 5px;
}

.ending{
    background-color: #0098BD;
    text-align: center;
    color: #FFF;
    display: block;
    clear: both;
    padding: 20px;
}

.ending h3{
    margin: 10px;
    padding: 0;
    color: #FFF;
}

/* speaker no photo */
.fa-BSB-retro-size-6 {
    font-size: 10em;
    opacity: 0.05;
}

.speaker-box{
    display: inline-block;
    width: 200px;
    text-align: center;
    vertical-align: top;
    margin: 15px;
    position: relative;
}

.speaker-box h3{
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
}

.speaker-box .ic-social{
    width: 26px;
    text-align: center;
    line-height: 26px;
    height: 26px;
    display: inline-block;
    background-color: #008ABB;
    color: #FFF;
    border-radius: 100px;
}

.speaker-box .show-info{
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 120px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    left: 120px;
    display: inline-block;
    background-color: #faa634;
    color: #FFF;
    text-decoration: none;
}

.speaker-box .ic-social:hover{
    text-decoration: none;
}

.speaker-box .fa-camera-retro{
    display: inline-block;
    text-align: center;
    line-height: 160px;
    font-size: 5em;
    color: #FFF;
    background-color: rgba(0,0,0,.1);
}

.speaker-box .description{
    display: none;
}

.speaker-box .fa-camera-retro,
.speaker-box img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: #FFF 5px solid;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.speaker-box .description{
    position: fixed;
    display: none;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 1000;
    background-color: rgba(0,0,0,.4);
}

.speaker-box .description .inner{
    background-color: #FFF;
    width: 90%;
    padding: 25px;
    text-align: left;
    max-width: 500px;
    background-color: #FFF;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2), 10px 10px 20px rgba(0,0,0,.2);
}

.speaker-box .description .inner a:hover{
    text-decoration: none;
}

.speaker-box .description-show{
    display: flex;
}

.speaker-box-panel{
    display: inline-block;
    width: 230px;
    text-align: center;
    vertical-align: top;
    margin: 15px;
    position: relative;
}

.speaker-box-panel h3{
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
}

.speaker-box-panel .ic-social{
    width: 26px;
    text-align: center;
    line-height: 26px;
    height: 26px;
    display: inline-block;
    background-color: #008ABB;
    color: #FFF;
    border-radius: 100px;
}

.speaker-box-panel .show-info{
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 160px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    left: 160px;
    display: inline-block;
    background-color: #faa634;
    color: #FFF;
    text-decoration: none;
}

.speaker-box-panel .ic-social:hover{
    text-decoration: none;
}

.speaker-box-panel .fa-camera-retro{
    display: inline-block;
    text-align: center;
    line-height: 160px;
    font-size: 5em;
    color: #FFF;
    background-color: rgba(0,0,0,.1);
}

.speaker-box-panel .description{
    display: none;
}

.speaker-box-panel .fa-camera-retro,
.speaker-box-panel img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: #FFF 5px solid;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.speaker-box-panel .description{
    position: fixed;
    display: none;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 1000;
    background-color: rgba(0,0,0,.4);
}

.speaker-box-panel .description .inner{
    background-color: #FFF;
    width: 90%;
    padding: 25px;
    text-align: left;
    max-width: 500px;
    background-color: #FFF;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2), 10px 10px 20px rgba(0,0,0,.2);
}

.speaker-box-panel .description .inner a:hover{
    text-decoration: none;
}

.speaker-box-panel .description-show{
    display: flex;
}

.trilhas{
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0 !important;
    justify-content: space-between;
}

.trilhas li{
    width: 100%;
    display: inline;
    text-align: left;
    padding: 30px 10px 15px 10px;
    color: #FFF;
    line-height: 15px;
}

.trilhas li strong{
    font-size: 35px;
}
.trilhas li span{
    font-size: 10px;
}

.trilhas .box-blue{
    background-color: #008cb9;
}

.trilhas .box-navy{
    background-color: #012840;
}

.trilhas .box-purple{
    background-color: #812b84;
}

.trilhas .box-orange{
    background-color: #dc661e;
}

@media (min-width:840px){
    .trilhas{
        flex-flow: row nowrap;
    }

    .trilhas li{
        width: 25%;
        display: inline;
        text-align: center;
    }
}


.tabs{
    width: 100%;
    border-bottom: #012840 2px solid;
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs a{
    text-transform: uppercase;
    padding: 18px 20px 20px 20px;
    border-left:#CCC 2px solid;
    border-right:#CCC 2px solid;
    border-top:#CCC 10px solid;
    border-bottom:#012840 2px solid
    margin: 2px;
    margin-left: 5px;
    font-weight: bold;
    color: #666;
    background-color: #ECF0F1;
}

.tabs a.current{
    border-color: #012840;
    color: #012840;
    top: 2px;
    position: relative;
    padding-bottom: 20px;
}

.text-blue,
.text-blue:hover{
    color: #008cb9;
}
.text-navy,
.text-navy:hover{
    color: #012840;
}
.text-purple,
.text-purple:hover{
    color: #812b84;
}
.text-orange,
.text-orange:hover{
    color: #dc661e;
}

a.text-blue{
    padding: 5px 0 !important;
    display: inline-block;
    width: 100%;
    border-bottom:#008cb9 3px solid;
}

a.text-navy{
    padding: 5px 0 !important;
    display: inline-block;
    width: 100%;
    border-bottom:#012840 3px solid;
}

a.text-purple{
    padding: 5px 0 !important;
    display: inline-block;
    width: 100%;
    border-bottom:#812b84 3px solid;
}

a.text-orange{
    padding: 5px 0 !important;
    display: inline-block;
    width: 100%;
    border-bottom:#dc661e 3px solid;
}


.programacao .row{
    margin-bottom: 20px !important;
}

.programacao room{
    font-weight: 900;
}

.programacao .box{
    background-color: #FFF;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.2);
}

.programacao .box-workshop{
    background-color: #FFF;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.2);
    height: 230px;
}

.programacao .col-md-4{
    padding: 10px 5px;
    text-align: left;
    background-color: rgba(0,0,0,.1);
    line-height: 15px;
    text-align: center;
}

.programacao room{
    display: inline-block;
    width: 100%;
    font-style: normal;
}
