{{ partial "header.html" . }}


<div class="page-header">
    <h1>{{ .Description }}</h1>
</div>
<div class="page-body">
    {{ .Content }}
</div>

<div class="page-body">
  <h1>Painelistas</h1>
  {{ range $fname, $s := index $.Site.Data.speakers }}

    {{if $s.active }}
      {{if $s.panelist }}
        {{if eq $.Params.panel $s.panel }}
          <div class="speaker-box-panel">
            <a class="show-info"><i class="fa fa-info"></i></a>
            {{if $s.photoUrl}}
              <img alt = "{{ $s.name }}" src = "{{$s.photoUrl}}">
            {{else}}
              <i class="fa fa-camera-retro" aria-hidden="true"></i>
            {{ end }}
            <h3>{{ $s.name }}</h3>
            {{ if $s.twitter }} <a target="_blank" class="ic-social" href="https://twitter.com/{{ $s.twitter }}"><i class="fa fa-twitter"></i></a>{{ end }}
            {{ if $s.website }} <a target="_blank" class="ic-social" href="{{ $s.website }}"><i class="fa fa-globe"></i></a>{{ end }}
            <div class="description">
              <div class="inner">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3>{{ $s.name }}</h3><br>
                <small>{{ printf "%v" ($s.bio) | markdownify }}</small><br /><br />
                {{ if $s.representation }}<b>Empresa:</b> {{ $s.representation }}<br>{{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}

  {{ end }}
</div>
<!-- speaker code end -->

{{ partial "footer.html" . }}
