{{ partial "header.html" . }}

<div class="page-header">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
</div>
<div class="page-body">
    {{ .Content }}
</div>

{{ partial "footer.html" . }}
