<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DevOpsDays Brasília, dias 07 e 08 de novembro de 2017, o maior evento de #DevOps do Centro-Oeste">
    <meta name="author" content="">

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:title" content="{{ .Title }} -- {{ .Site.Title }}" />
    <meta property="og:site_name" content="DevOpsDays Brasília" />
    <meta property="og:image" content="http://devopsdays.bsb.br/img/devopsdays-brasilia.jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="400" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ .Title }} -- {{ .Site.Title }}" />
    <meta name="twitter:image" content="http://devopsdays.bsb.br/img/devopsdays-brasilia.jpg" />

    <title>{{ .Title }} -- {{ .Site.Title }}</title>

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <!-- Bootstrap Core CSS -->
    <link href="{{ .Site.BaseURL }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ .Site.BaseURL }}/css/brasilia-devopsdays-2017.css" rel="stylesheet">

</head>

<body>

    <header class="main-header">
        <a class="main-header-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <a class="menu-trigger"><i class="fa fa-navicon"></i> Menu</a>
        <div class="main-menu">
            {{ partial "navbar.html" . }}
        </div>
    </header>
    <div class="wrapper">
        <div class="main-container">
            <div class="content">
