{{ partial "header.html" .}}

<div class="page-header">
    <h1>{{ .Site.Title }}</h1>
    {{ if isset .Site.Params "Description" }}<p>{{ .Site.Params.Description }}</p>{{ end }}
</div>
<!-- panelists speaker page code begin -->
{{ $.Scratch.Set "has_keynotes" false }}

{{ range $fname, $s := index $.Site.Data.speakers }}

  {{if $s.active }}
    {{if $s.keynote }}
        {{ $.Scratch.Set "has_keynotes" true }}
    {{ end }}
  {{ end }}
{{ end }}

<div class="page-body">
{{ if $.Scratch.Get "has_keynotes" }}

  <div class="page-body alert-info">
    {{ range $fname, $s := index $.Site.Data.speakers }}

      {{if $s.active }}
        {{if $s.keynote }}
          <div class="speaker-box">
            <a class="show-info"><i class="fa fa-info"></i></a>
            {{if $s.photoUrl}}
              <img alt = "{{ $s.name }}" src = "{{$s.photoUrl}}">
            {{else}}
              <i class="fa fa-camera-retro" aria-hidden="true"></i>
            {{ end }}
            <h3><a href="{{if $s.panelist }}/panel/panel-{{$s.panel}}{{else}}/program/{{$fname}}{{end}}">{{ $s.name }}</a></h3>
            {{ if $s.twitter }} <a target="_blank" class="ic-social" href="https://twitter.com/{{ $s.twitter }}"><i class="fa fa-twitter"></i></a>{{ end }}
            {{ if $s.website }} <a target="_blank" class="ic-social" href="{{ $s.website }}"><i class="fa fa-globe"></i></a>{{ end }}
            <div class="description">
              <div class="inner">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3>{{ $s.name }}</h3><br>
                <small>{{ printf "%v" ($s.bio) | markdownify }}</small><br /><br />
                {{ if $s.representation }}<b>Empresa:</b> {{ $s.representation }}<br>{{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    <div class="text text-center"><a href="/speakers">clique aqui e veja todos os nossos palestrantes</a></div>
  </div>
  <!-- speaker code end -->
  {{end}}

    {{ range first 4 (where .Data.Pages "Type" "post") }}
        {{ .Render "summary"}}
    {{ end }}

    <a  class="fa fa-angle-double-left" href="/post"> todas as mensagens</a>
</div>

{{ partial "footer.html" .}}
