{{ partial "header.html" . }}


    <div class="page-header">
        <h1>{{ .Title }}</h1>
    </div>
    <div class="page-body">

             {{ .Description }}

          {{ range .Paginator.Pages }}
              {{ .Render "archive" }}
          {{ end }}
          {{ template "_internal/pagination.html" . }}

      </div>

{{ partial "footer.html" . }}
