{{ partial "header.html" . }}

    <!-- Page Header -->
             <h1>{{ .Title }}</h1>
             <span class="subheading">{{ .Title }}</span>
          <ul>
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms.ByCount }}
            <li><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name | title }}</a> {{ $value.Count }}</li>
            {{ end }}
          </ul>

{{ partial "footer.html" . }}
