{{ partial "header.html" .}}


    <div class="page-header">
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
    </div>
    <div class="page-body">

        <p class="meta">Posted by <a href="#">{{ .Site.Params.Author }}</a> on {{ dateFormat .Site.Params.DateForm .Date }}
          <br />
          {{ partial "categories.html" . }}
          <br />
          {{ partial "tags.html" . }}
       </p>

        {{ .Content }}
    </div>



{{ partial "footer.html" .}}
