               <div class="post-preview">

                      <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                      <h3 class="post-subtitle"><a href="{{ .Permalink }}">{{ .Description }}</a></h3>

                    <p class="post-meta">Posted by <a href="#">{{ .Site.Params.Author }}</a> on {{ dateFormat .Site.Params.DateForm .Date }}
                    <br />
                    {{ partial "categories.html" .}}
                    <br />
                    {{ partial "tags.html" .}}
                  </p>
                </div>
                <hr>
