{{ partial "header.html" . }}

<div class="page-header">
    <h1>{{ .Title }}</h1>
</div>
<br />
<!-- panelists speaker page code begin -->
{{ $.Scratch.Set "has_panelists" false }}

{{ range $fname, $s := index $.Site.Data.speakers }}

  {{if $s.active }}
    {{if $s.panelist }}
        {{ $.Scratch.Set "has_panelists" true }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if $.Scratch.Get "has_panelists" }}
<div class="page-body alert alert-info">
  <h1>Painelistas</h1>
  {{ range $fname, $s := index $.Site.Data.speakers }}

    {{if $s.active }}
      {{if $s.panelist }}
        <div class="speaker-box-panel">
          <a class="show-info"><i class="fa fa-info"></i></a>
          {{if $s.photoUrl}}
            <img alt = "{{ $s.name }}" src = "{{$s.photoUrl}}">
          {{else}}
            <i class="fa fa-camera-retro" aria-hidden="true"></i>
          {{ end }}
          <h3><a href="{{if $s.panelist }}/panel/panel-{{$s.panel}}{{else}}/program/{{$fname}}{{end}}">{{ $s.name }}</a></h3>
          {{ if $s.twitter }} <a target="_blank" class="ic-social" href="https://twitter.com/{{ $s.twitter }}"><i class="fa fa-twitter"></i></a>{{ end }}
          {{ if $s.website }} <a target="_blank" class="ic-social" href="{{ $s.website }}"><i class="fa fa-globe"></i></a>{{ end }}
          <div class="description">
            <div class="inner">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3>{{ $s.name }}</h3><br>
              <small>{{ printf "%v" ($s.bio) | markdownify }}</small><br /><br />
              {{ if $s.representation }}<b>Empresa:</b> {{ $s.representation }}<br>{{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
<!-- speaker code end -->
{{end}}
<div class="page-body">
    {{ .Content }}
</div>

<!-- speaker page code begin -->
{{ range $fname, $s := index $.Site.Data.speakers }}

{{if $s.active }}
  {{if not $s.panelist }}
  <div class="speaker-box">
    <a class="show-info"><i class="fa fa-info"></i></a>
    {{if $s.photoUrl}}
      <img alt = "{{ $s.name }}" src = "{{$s.photoUrl}}">
    {{else}}
      <i class="fa fa-camera-retro" aria-hidden="true"></i>
    {{ end }}
    <h3><a href="/program/{{$fname}}">{{ $s.name }}</a></h3>
    {{ if $s.twitter }} <a target="_blank" class="ic-social" href="https://twitter.com/{{ $s.twitter }}"><i class="fa fa-twitter"></i></a>{{ end }}
    {{ if $s.website }} <a target="_blank" class="ic-social" href="{{ $s.website }}"><i class="fa fa-globe"></i></a>{{ end }}
    <div class="description">
      <div class="inner">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>{{ $s.name }}</h3><br>
        <small>{{ printf "%v" ($s.bio) | markdownify }}</small><br /><br />
        {{ if $s.representation }}<b>Empresa:</b> {{ $s.representation }}<br>{{ end }}
      </div>
    </div>
  </div>
  {{ end }}
{{ end }}

{{ end }}
<!-- speaker code end -->

{{ partial "footer.html" . }}
